:root {
    --montserrat: "Montserrat", sans-serif;
    --poppins: "Poppins", sans-serif;

    --primary-dark: #252b42;
    --primary-bright: #fa4a0c;
    --white: #ffffff;
    --grey: #737373;
}

body {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 24px;
}

._container {
    max-width: 1150px;
    padding: 0 25px;
    margin: 0 auto;
}

.header {
    height: 156px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;

    gap: 77px;
}

.nav__link {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-dark);
}

.nav__link:hover {
    color: var(--primary-bright);
}

.main-screen {
    color: var(--white);
    background: linear-gradient(rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)),
        url("images/background-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 619px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;

    text-align: center;

    padding: 80px 0 150px 0;
}

.main-screen__title {
    font-family: var(--poppins);
    font-size: 58px;

    width: 799px;
}

.main-screen__text {
    font-weight: 500;
}

.main-screen__buttons {
    display: flex;
    justify-content: center;
    gap: 70px;

    margin-top: 50px;
}

.main-screen__button {
    border-radius: 30px;
    padding: 16px 65px;
}

.button__primary {
    background-color: var(--primary-bright);
}

.button__secondary {
    border: 1px solid var(--white);
}

.product {
    padding: 70px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 75px;
}

.create-account,
.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 282px;
}

.create-account__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore__screenshot {
    order: 1;
}

.product__title {
    font-family: var(--poppins);
    font-size: 44px;
    font-weight: 600;
}

.subtitle {
    color: var(--primary-bright);
}

.title {
    font-size: 40px;
}

.text {
    font-weight: 500;
    color: var(--grey);
}

.order {
    color: var(--white);
    background: linear-gradient(rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)),
        url("images/background-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 516px;
    padding: 141px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.order__title {
    font-size: 40px;
}

.order__subtitle {
    font-weight: 500;

    margin-top: 20px;
}

.order__buttons {
    margin-top: 60px;
}

.order__button {
    font-size: 16px;

    height: 60px;

    padding: 16px 32px;
    border-radius: 10px;
}

.footer {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 12px;
}
